<div class="home-image"><%= image_tag("reco-home.png") %></div>


<% if user_signed_in? %>

<div class="row">
  <div class="home-spacer2"></div>
  <div class="col-md-12">
      <%= @category = current_user.categories.where(name: "uncategorized").first %>
      <%= render 'categories/category' %>
  </div>

</div>
<div class="home-spacer2"></div>
<div class="home-spacer2"></div>
<div class="row white-banner">

  <div class="col-md-6">
    <h2>A few of my favorite things</h2>
  </div>

  <div class="col-md-6">

    <h4 class="button pull-right"> <%= link_to 'New category', new_user_category_path(current_user, Category.new) %></h4>
    <h4 class="button pull-right"> <%= link_to 'New preference', new_brand_path %></h4>
    <h4 class="button pull-right"> <%= link_to 'View categories', user_categories_path(current_user) %></h4>
    <br>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'preferences/preference' %>
  </div>
</div>

<% end %>


