<% @preferences.each do |preference| %>
<div class="preference">
  <h4><%= preference.score %> <span class="glyphicon glyphicon-star"></span>
   <span class="label label-purple pull-right"><%= preference.category.name %></span></h4>
  <div class="pull-right">
    <% if preference.preference_image.exists? %>
      <div class="index-image"><%= link_to image_tag(preference.preference_image.url(:thumb)), user_preference_path(current_user, preference) %></div><br>
    <% end %>
  </div>
  <h4><%= preference.item.name %></h4>
  <p><strong>Brand</strong><br>

  </p>

  <div class="edit">
    <strong><%= link_to "VIEW", user_preference_path(current_user, preference) %></strong>
  </div>

  <div class="edit">
    <%= link_to user_preference_path(current_user, preference), method: :delete, data: { confirm: 'Delete this preference?' } do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </div>
</div>
<% end %>
