<% if user_signed_in? %>
  <% @preferences.each do |preference| %>
    <div class="well preference">
      <%= preference.category %><br>
      <i><%= preference.product_name %></i><br>
      <strong> <%= preference.brand %></strong><br>
      <p><%= preference.comment %></p>


      <%= preference.score %><br>
      </div>
  <% end %>
<% end %>


