<div class="row">
  <div class="home-image"><%= image_tag("reco-home2.png") %></div>
</div>
<div class="row home-spacer">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p class="tag-line">Rate your item</p>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">

  <div class="col-md-4"></div>

  <div class="col-md-3">
    <div class="home-spacer2"></div>
    <% if @preference.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <h4><strong><%= pluralize(@preference.errors.count, "error") %> prohibited this item from being saved:</strong></h4>
        <ul><% @preference.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>
    <%= form_for @preference, :url => user_preferences_path, :html => { :multipart => true } do |form| %>
<%= form.label :category %><br>
      <%= form.select(:category, Category.all.map{ |c| [c.name, c.id] }) %><br>
      <br>
      <%= form.label :brand %><br>
      <%= form.select(:brand, Brand.all.map{ |b| [b.name, b.id] }) %><br><br>
      <%= form.label :item %><br>
      <%= form.select(:item, Item.all.map{ |i| [i.name, i.id] }) %><br>
      <br>

      <%= form.file_field :preference_image %><br>

      <%= form.label :comment  %><br>
      <%= form.text_field :comment  %><br>
      <br>

    <br>
    <%= label_tag :score %><br>

    <%= form.label :score, "1", :value => "1"  %>
    <%= form.radio_button :score, 1 %>
    <%= form.label :score, "2", :value => "2"  %>
    <%= form.radio_button :score, 2 %>
    <%= form.label :score, "3", :value => "3"  %>
    <%= form.radio_button :score, 3 %>
    <%= form.label :score, "4", :value => "4"  %>
    <%= form.radio_button :score, 4 %>
    <%= form.label :score, "5", :value => "5"  %>
    <%= form.radio_button :score, 5 %>

<br>
      <br>
  <!-- Submit the form for a new preference -->
      <%= submit_tag("Submit") %>
  <% end %>
    </div>
  <div class="col-md-3 "></div>
</div>
<div class="home-spacer2"></div>

