<!-- Error Messages -->

<% if @preference.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@preference.errors.count, "error") %> prohibited this
      preference from being saved:</h2>
    <ul>
      <% @preference.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Form for creating a new preference -->
<%# = render 'users/form1' %>

<!-- Upload image for a preference -->
<%= form_for @preference, :url => user_preferences_path, :html => { :multipart => true } do |form| %>
  <%= form.label :comment  %>
  <%= form.text_field :comment  %>
  <br>
  <%= form.label :score %>
  <%= form.text_field :score  %>
  <br>
  <%= form.select(:category, Category.all.map{ |c| [c.name, c.id] }) %>

  <%= form.file_field :preference_image %>
  <!-- Submit the form for a new preference -->
  <%= submit_tag("Submit") %>
<% end %>
