<% if @preference.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@preference.errors.count, "error") %> prohibited this
      preference from being saved:</h2>
    <ul>
      <% @preference.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'users/form1' %>

<%= form_for @preference, :url => user_category_preferences_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :preference_image %>
  <%= submit_tag("Submit") %>
<% end %>
