<% if @preference.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@preference.errors.count, "error") %> prohibited this
      preference from being saved:</h2>
    <ul>
      <% @preference.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @preference do |f| %>
  <%= f.label :brand %> <br>
  <%= f.text_field :brand %>
  <br>
  <%= f.label :product_name %> <br>
  <%= f.text_field :product_name %>
  <br>
  <%= f.label :comment %> <br>
  <%= f.text_field :comment %>
  <br>
  <%= f.label :score %> <br>
  <%= f.text_field :score %>
  <br>
  <%= f.label :category_id %> <br>
  <%= f.text_field :category_id %>
  <br>
  <%= f.label :dependent_id %> <br>
  <%= f.text_field :dependent_id %>
  <br>
  <%= f.submit %>
<% end %>
