<div class="row">

  <div class="col-md-2 "></div>
  <div class="col-md-4 ">
    <% if @preference.preference_image.exists? %>
      <%= image_tag @preference.preference_image.url(:medium) %>
      <%= link_to edit_user_preference_path(current_user, @preference) do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    <% end %></div>

  <div class="col-md-4 ">
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
          <% flash.each do |name, msg| %>
            <div class="alert alert-danger" role="alert">
              <% if msg.is_a?(String) %>
                <%= content_tag :div, msg, :class => "flash_#{name}" %>
              <% end %>
            </div>
          <% end %>
      <div class="col-md-1"></div>
    </div>
    <h2 class="update"><i><%= @preference.item.name %></i></h2>

      <%= link_to edit_user_preference_path(current_user, @preference) do %>
        <span class="glyphicon glyphicon-pencil pull-right"></span>
      <% end %><br>

    <h4 class="update"><strong>Brand </strong></h4>
    <%= link_to edit_user_preference_path(current_user, @preference) do %>
        <span class="glyphicon glyphicon-pencil pull-right"></span>
      <% end %>
      <hr />
    <h4><%= @preference.score %> <span class="glyphicon glyphicon-star"></span></h4>
    <p><strong>Comments</strong> <br>
    <%= @preference.comment %></p>
    <p><span class="label label-default"><%= @preference.category.name %></span></p>

    <div class="edit">
      <%= link_to edit_user_preference_path(current_user, @preference) do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    </div>


    <div class="edit">
      <%= link_to user_preference_path(current_user, @preference), method: :delete, data: { confirm: 'Delete this preference?' } do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %><br>
    </div>
  </div>

  <div class="col-md-2 "></div>
</div>
</div>
<div class="row">
<div class="home-spacer2"></div>
<div class="home-spacer2"></div>
</div>
