<div class="row">
  <div class="home-image"><%= image_tag("reco-home2.png") %></div>
</div>
<div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= render 'layouts/alerts' %>
        </div>
      <div class="col-md-1"></div>
    </div>
<div class="row">

  <div class="col-md-2 "></div>
  <div class="col-md-3 ">
    <% if @preference.preference_image.exists? %>
      <div class="index-image"><%= image_tag @preference.preference_image.url(:medium) %></div><br>
      <%= link_to edit_user_preference_path(current_user, @preference) do %>
        <button type="button" class="btn btn-default btn-med">
          <span class="glyphicon glyphicon-pencil"></span> Update image
        </button>
      <% end %>
    <% end %></div>

  <div class="col-md-5 ">

    <h2 class="update"><i><%= @preference.item.name %></i></h2>

      <%= link_to edit_user_preference_path(current_user, @preference) do %>
        <span class="glyphicon glyphicon-pencil pull-right"></span>
      <% end %><br>

    <h4 class="update"><strong>Brand </strong></h4>
    <%= link_to edit_user_preference_path(current_user, @preference) do %>
        <span class="glyphicon glyphicon-pencil pull-right"></span>
      <% end %>
      <hr />
    <h4><%= @preference.score %> <span class="glyphicon glyphicon-star"></span></h4>
    <p><strong>Comments</strong> <br>
    <%= @preference.comment %></p>
    <p><span class="label label-default"><%= @preference.category.name %></span></p>

    <div class="edit">
      <%= link_to edit_user_preference_path(current_user, @preference) do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    </div>


    <div class="edit">
      <%= link_to user_preference_path(current_user, @preference), method: :delete, data: { confirm: 'Delete this preference?' } do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %><br>
    </div>
  </div>

  <div class="col-md-2 "></div>

</div>
<div class="row">
<div class="home-spacer2"></div>
<div class="home-spacer2"></div>
</div>
