<div class="row">
  <div class="home-image"><%= image_tag("reco-home2.png") %></div>
</div>
<% category = current_user.categories.where(name: "uncategorized").first %>
<div class="row">

  <div class="col-sm-1 white-banner"></div>

  <div class="col-sm-6 white-banner">
    <h2>Current categories</h2>
  </div>

  <div class="col-sm-4 white-banner">
    <h4 class="button"> <%= link_to 'New category', new_user_category_path(current_user, Category.new) %>
    </h4>
    <h4 class="button"> <%= link_to 'New preference', new_user_preference_path(current_user, category, Preference.new) %>
    </h4>
  </div>

  <div class="col-sm-1 home-spacer"></div>
</div>
<div class="home-spacer2"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <%= render 'layouts/alerts' %>
    <% if user_signed_in? %>
      <% @categories.each do |category| %>
        <div class="category-large">
          <%= link_to category.name, user_category_path(current_user, category.id) %>
          <%= link_to user_category_path(current_user, category), method: :delete, data: { confirm: 'Delete this category?' } do %>
            <span class="glyphicon glyphicon-remove pull-right pencil"></span>
          <% end %>
        <%= link_to edit_user_category_path(current_user, category) do %>
          <span class="glyphicon glyphicon-pencil pull-right pencil"></span>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-1"></div>


</div>


</div>
  <div class="col-md-3 "></div>
</div>
<div class="home-spacer2"></div>

