<!DOCTYPE html>
<html>
<head>
  <title>Recollektion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

<!-- Header and login -->
  <div class="row">
    <div class="col-md-12 ">
      <nav class="navbar-fixed-top" role="navigation">
      <div class="container accent">
        <span class="title">
        <%= link_to 'Recollektion', root_path %></span>

        <span class="navbar-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> |
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </span>

      </div>
      </nav>
    </div>
  </div>

<div class="container rec_app">

<!-- Alerts and Error messages -->
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, msg| %>
          <div class="alert alert-danger" role="alert">
            <% if msg.is_a?(String) %>
              <%= content_tag :div, msg, :class => "flash_#{name}" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Main Content starts here -->
    <%= yield %>

    <div class="home-spacer"> </div>

    <!-- Footer starts here -->
    <div class="row sub-footer">
      <div class="col-md-12">

          <h4>Keep track of the things you like &mdash; and the things you don't.</h4>
          <p>Created by Katryn McIntosh / General Assembly &ndash; Web Development Immersive</p>

      </div>
    </div>

  </div>
</body>
</html>
