<!DOCTYPE html>
<html>
<head>
  <title>Recollektion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
    <div class="col-md-12 accent">
      <nav class="navbar-fixed-top accent" role="navigation">
      <div class="container-fluid accent">
        <span class="title">
        <%= link_to 'Recollektion', root_path %></span>
        <span class="navbar-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> |
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </span>

      </div>
      </nav>
    </div>
  </div>
</div>
<img class="shift" src="assets/beer.jpg">
<div class="left-triangle">
</div>


  <div class="container-fluid rec_app">
    <div class="row">
      <div class="col-md-12">

          <% flash.each do |name, msg| %>
          <div class="alert alert-danger" role="alert">
            <% if msg.is_a?(String) %>
              <%= content_tag :div, msg, :class => "flash_#{name}" %></div>
            <% end %>
          <% end %>

      </div>
    </div>
  <div class="row">
      <div class="col-md-2">

      </div>
<div class="line"></div>
      <div class="col-md-8">
<div class="home-spacer"></div>
     <div> <%= link_to 'New preference', new_preference_path %></div>
      <%= yield %>
</div>

      <div class="col-md-2 ">
      </div>

    </div>
</div>

<div class="footer">
</div>
<div class="sub-footer">
<h4><i>Keep track of the things you like, and the things you don't.</i></h4>
</div>
</body>
</html>
