<!DOCTYPE html>
<html>
<head>
  <title>Recollektion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

<!-- Header and login -->
  <nav class="navbar-fixed-top" role="navigation">
  <div class="container-fluid accent">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <span class="title"><%= link_to 'Recollektion', root_path %></span>
        <span class="navbar-right">
          <% if user_signed_in? %>
            <div class="login-nav">Logged in as <strong><%= current_user.email %></strong>
              <button type="button" class="btn btn-med" id="login"><%= link_to 'Edit profile', edit_user_registration_path %> </button>
              <button type="button" class="btn btn-med" id="login"><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>
            </div>
          <% else %>
            <div class="login-nav">
              <button type="button" class="btn btn-med" id="login"><%= link_to "Sign up", new_user_registration_path %> </button>
              <button type="button" class="btn btn-med" id="login"><%= link_to "Login", new_user_session_path %></button>
            </div>
          <% end %>
        </span> <!-- End nav-bar-right -->
      </div> <!-- End col-md-10 -->
      </nav> <!-- End nav bar fixed top -->
      <div class="col-md-1"></div>
    </div> <!-- End row -->


      <!-- Alerts and Error messages -->
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
          <% flash.each do |name, msg| %>
            <div class="alert alert-danger" role="alert">
              <% if msg.is_a?(String) %>
                <%= content_tag :div, msg, :class => "flash_#{name}" %>
              <% end %>
            </div>
          <% end %>
      <div class="col-md-1"></div>
    </div>

  <!-- Main Content starts here -->

    <%= yield %>

  <!-- Footer starts here -->
  <div class="row sub-footer">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <p>Created by Katryn McIntosh <br>
        Project 1 // GA &ndash; Web Development Immersive</p>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>

</body>
</html>
